@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: hsl(0, 0%, 98%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;

}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {
    padding: 30px;
}

main {
    height: 100vh;
    width: 100%;
}


.menu_nav {
    flex-grow: 1;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

li a:hover {
    color: hsl(0, 0%, 0%);
}

.menu_nav li {
    position: relative;
}

.rotate {
    animation: rot linear forwards;
}

@keyframes rot {
    to {
        transform: rotate(180deg);
    }
    from {
        transform: rotate(0deg);
    }
}

.active {
    color: #000 !important;
}

.drop_menu li a:hover, .reg:hover, .login:hover {
    color: hsl(0, 0%, 0%);
}

.reg {
    border: 2px solid hsl(0, 0%, 41%);
    padding: 10px 30px;
    border-radius: 15px;
}

.main_feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translate(-50%, 10px);
    box-shadow: 0 0 49px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 49px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 49px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff;
}

.main_feature img {
    margin-right: 10px;
}

.main_feature li {
    padding: 15px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
}

.intro img {
    width: 600px;
    max-height: 800px;
    object-fit: contain;
}

.mobile {
    display: none;
}

.intro_text {
    height: 700px;
    padding: 0 10px;
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    margin: 50px auto;
}

.learn_more {
    padding: 20px 40px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    font-size: 1rem;
    border: 2px solid hsl(0, 0%, 8%);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.learn_more:hover {
    background-color: transparent;
    color: black;
}

.clients {
    width: 100%;
    margin-top: 80px;
}

.clients img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.clients ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients ul li {
    padding: 5px;
}

.side_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 65vw;
    height: 100vh;
    padding: 80px 20px 0;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}

.side_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ham img {
    cursor: pointer;
}

.side_menu ul li {
    padding: 15px;
    width: 100%;
}

.side_menu ul li img {
    margin-right: 10px;
}

#side_main_feat, #side_main_comp {
    position: relative;
    padding: 0 15px 0 0;
}

.hide_side_feature > li {
    display: none;
}

.btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#open {
    display: none;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 1100px) {
    nav {
        padding: 20px;
    }

    .menu_nav {
        display: none;
    }

    .btn_nav {
        display: none;
    }

    .intro {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }

    .intro img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .intro_text {
        height: auto;
        width: 100%;
        align-items: center;
        margin-top: 60px;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        margin: 20px auto;
    }

    .clients {
        margin-top: 40px;
    }

    #open {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .intro {
        padding: 10px;
    }

    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }

    .learn_more {
        padding: 10px 20px;
    }
}